

<h2>Title: <%= @article.title %></h2>
<div class="well col-xs-8">
    <h4 class="description">Description:</h4>
    <hr>
    <%= simple_format(@article.description) %>
    <%= render 'action_buttons', article: @article %>
    <%= link_to 'All Articles', articles_path, class: "btn btn-success btn-xs" %>
</div>